/* Timeline CSS */
#timeline-viewport{
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
#events{
	height:100%;
	position:relative;
}
#timeline{
	position:absolute;
	bottom:0;
	left:0;
	background:#EBEBEB;
	border-top:#CCC solid 5px;
	height:100px;
}
#timeline .tick{
	position:absolute;
	font-size:13px;
	color:#444;
	top:0;
	z-index:2;
	border-left:#666 solid 1px;
	height:40px;
}
#timeline .tick > span{
	position:absolute;
	bottom:-30px;
	left:-50px;
	width:100px;
	text-align:center;
}
.event{
	display:inline-block;	
	max-width:300px;
	padding:5px;
	border:#CCC 1px solid;
	color:inherit;
	position:absolute;
	text-decoration:none;
	border-radius:10px;
}
.event:hover{
	background:#EFEFEF;
}
.event article{
	display:none;
}
.event time{
	font-size:80%;
	color:#666;
}
.event h3{
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}